{% extends "layout.html" %}

{% block body %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Assignment 1 - Watsons vs Guardian</h1>
  </div>

  

  <div class="grid-container">

    <div class="grid-item">
      <p>Total Number of Tweets Tweeted in December 2019</p>
      <img class='test_img' src='/static/graphs/1 tweetsNum.png'>
    </div>

    <div class="grid-item">
      <p>Total Number of Followers</p>
      <img class='test_img' src='/static/graphs/2 followersNum.png'>
      </div>

    <div class="grid-item">
      <p>Total Number of Friends</p>
      <img class='test_img' src='/static/graphs/3 friendsNum.png'>
    </div>

    <div class="grid-item">
      <p>Total Retweet, Favorite, Hashtag, and Mention in Tweets in December 2019</p>
      <img class='test_img3' src='/static/graphs/4 allMetrics.png'>
    </div>

    <div class="grid-item">
      <p>Average Retweets of Tweets in December 2019</p>
      <img class='test_img' src='/static/graphs/5 RTAvg.png'>
    </div>

    <div class="grid-item">
      <p>Number of Engagements of Tweets in December 2019</p>
      <img class='test_img' src='/static/graphs/6 engagementNum.png'>
    </div>

    <div class="grid-item">
      <p>Watsons Most Popular Tweet in December 2019</p>
      <img class='test_img' src='/static/graphs/7 watsonsPopularTweet.png'>
    </div>  

    <div class="grid-item">
      <p>Guardian Most Popular Tweet in December 2019</p>
      <img class='test_img' src='/static/graphs/7.1 guardianPopularTweet.png'>
    </div>

  </div>

  <div class="grid-container2">

    <div class="grid-item2">
      <p>Watsons Retweets of Tweets by Day in December 2019</p>
      <img class='test_img2' src='/static/graphs/8 watsonsRTbyDate.png'>
    </div>

    <div class="grid-item2">
      <p>Guardian Retweets of Tweets by Day in December 2019</p>
      <img class='test_img2' src='/static/graphs/8.1 guardianRTbyDate.png'>
    </div>

    <div class="grid-item2">
      <p>Watsons Followers by States</p>
      <img class='test_img4' src='/static/graphs/9 watsonsStates.png'>
    </div>

    <div class="grid-item2">
      <p>Guardian Followers by States</p>
      <img class='test_img4' src='/static/graphs/9.1 guardianStates.png'>
    </div>
 
    <h1></h1>

    

  </div>

  <div class="marketing_grid">
    

      <h5>Watsons Marketing Strategy</h5>
      <img class='marketing_img' src='/static/files/watsons 1.png'>
      <img class='marketing_img' src='/static/files/watsons 2.png'>
    </div>

    <div class="marketing_grid">
      <h5>Guardian Marketing Strategy</h5>
      <img class='marketing_img' src='/static/files/guardian 1.png'>
      <img class='marketing_img' src='/static/files/guardian 2.png'>
    </div>

    


  </main>
{% endblock %}
